# Ignore virtual environments
.venv/
venv/

# Ignore pytest cache
.pytest_cache/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore SQLite database files
*.db

# Ignore environment variables and secrets
.env
*.env